@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #434455;
    background-color: #ffffff;
    
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span {
    color: #2e2f42;
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu:hover, .menu:focus {
    color: #404bbf;
}

.adres {
    font-style: normal;
}

.adres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adres-link:hover, .adres-link:focus {
    color: #404bbf;
}

.our-team-section > ul > li > img {
    width: 264px;
    height: 200px;
}

.our-portfolio-section > ul > li > img {
    width: 360px;
    height: 300px;
}